<h1><%= @kitten.name %></h1>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>
<%= link_to "edit", edit_kitten_path(@kitten) %>
<%= link_to "delete", kitten_path(@kitten), method: 'delete' %>
